.roundContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-top: 8rem;
}

.fixturesContainer{
    padding: 1rem;
    border: 0.25rem solid black;
    width: 25%;
    line-height: 1rem;
}

.round-info{
    padding-bottom: 1%;
    font-size: 120%;
    font-weight: bold;
}

.fix{
    display: flex;
    align-items: center;
    flex-direction: column;
}