.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 19rem;
  background-color: white;
  border-bottom: 0.2rem solid black; 
  height: 8rem;
}

.card-title {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color:black;
  margin-right: 1rem;
}

.shield{
  height: 36px;
  padding: 0.5rem;
}

.teamContainer{
  display:flex;
  flex-direction: row;
  background-color:transparent;
  justify-content: space-around;
  align-items: center;
}

.in{
  display: flex;
  align-items: inherit;
  margin-left: 0.2rem;
}