.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(65, 63, 63);
    height: 100%;
    padding-bottom: 40%;
}

.tableContainer{
    display: flex;
    margin-top: 10%;
    /* border: 0.2rem solid black;  */
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tableLine{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1%;
}

.author{
    border-bottom: 0.2rem solid black; 
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;    
}

.score{
    border-bottom: 0.2rem solid black; 
    width: 10%;
    display: flex;
    justify-content: center; 
    color: white;   
}

.tableHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tableTitle{
    font-size: 150%;
    font-weight: bold;
    font-family: "Roboto Condesed sans-serif";
    text-transform: uppercase;
    border-bottom: 0.2rem solid black; 
    color: rgb(38, 218, 53);
}

.headersFather{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
    font-family: "Roboto Condesed sans-serif";
    color: rgb(38, 218, 53);
    font-size: 140%;
}

.u{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

.s{
    margin-left: 20%;
}

.b{
    margin-right: 2%;
}

.check{
    margin-right: 1rem;
    background-color:rgb(75, 74, 74);
    color: whitesmoke;
    text-decoration: none;
    height: 2rem;
    border-radius: 0.5rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
    border: 0.1rem solid black; 
}