.appbar {
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(38, 218, 53);
    align-items:center;
    width:100%;
    box-shadow: 8px 6px 10px rgb(22, 22, 22);
    margin-bottom: 10rem;
    position: fixed;
}
  
.logo {
    width: 85px;
    height: 100%;
    margin: 1%;
    resize: both;
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}  

.subtitle{
    font-size: 120%;
    width: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.link{
    margin-right: 1rem;
    background-color:rgb(75, 74, 74);
    color: whitesmoke;
    text-decoration: none;
    height: 2rem;
    border-radius: 0.5rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
}