.cont{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(65, 63, 63);
    height: 300%;
    padding-bottom: 40%;
}

.tableContainer{
    display: flex;
    margin-top: 10%;
    border: 0.2rem solid black; 
    width: 40%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:whitesmoke;
}

.tableLine{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1%;
}

.author{
    border: 0.2rem solid black; 
    width: 50%;
    display: flex;
    justify-content: center; 
}

.score{
    border: 0.2rem solid black; 
    width: 10%;
    display: flex;
    justify-content: center;    
}

.tableHead{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tableTitle{
    font-size: 100%;
    font-weight: bold;
    font-family: "Roboto Condesed sans-serif";
    text-transform: uppercase;
    border-bottom: 0.2rem solid black; ;
}

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

.u{
    margin-right: 50%;
}
.s{
    margin-right:16%;
}

.check{
    margin-right: 1rem;
    background-color:rgb(75, 74, 74);
    color: whitesmoke;
    text-decoration: none;
    height: 2rem;
    border-radius: 0.5rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
}